.layout {
  position: fixed;
  z-index: 0;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.header {
  position: relative;
  height: 64px;
  line-height: 64px;
  padding: 0 10px;
  background-color: #f0f2f3;
  border-bottom: 1px solid #e8e8e8;
  user-select: none;
  font-weight: bolder;
}

.header .logo {
  margin-right: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
}

.header .logo span {
  color: #5182e4;
}

.header .nav {
  height: 64px;
  line-height: 64px;
  border: none;
  background: transparent;
}

.header .nav :global(.ant-menu-item) {
  border: none;
}
